---
import Social from './Social.astro'
const linkedin = 'LinkedIn'
const norama = 'nora-mate'
---

<style>
  footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
  <p>
    <a href={`https://www.${linkedin}.com/in/${norama}`}>{linkedin}</a>
  </p>
</footer>
